# Gemini API Key for general task
GEMINI_API_KEY=

# OpenAI API Key for GPT-4o and TTS support
OPENAI_API_KEY=

# Anthropic API Key for Claude support
ANTHROPIC_API_KEY=

# X.ai API Key for Grok support
XAI_API_KEY=

# Google Client ID and Secret for Drive integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER_ID=

# App URL for OAuth redirects
APP_URL=
