# Gemini API Key for general task
GEMINI_API_KEY=

# Peach Payments API Keys
PEACH_USER_ID=
PEACH_PASSWORD=
PEACH_ENTITY_ID=
PEACH_SECRET_TOKEN=

# DeepSeek API Key
DEEPSEEK_API_KEY=

# LiveKit API Keys
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
VITE_LIVEKIT_HOST=

# Secret key for JWT
JWT_SECRET=

# OpenAI API Key for GPT-4o and TTS support
OPENAI_API_KEY=

# Anthropic API Key for Claude support
ANTHROPIC_API_KEY=

# X.ai API Key for Grok support
XAI_API_KEY=

# Google Client ID and Secret for Drive integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER_ID=

# Paystack Secret Key
PAYSTACK_SECRET_KEY=

# App URL for OAuth redirects
APP_URL=

# Xero Application Keys
XERO_CLIENT_ID=
XERO_CLIENT_SECRET=
XERO_REDIRECT_URI=
