OPENAI_API_KEY=
XAI_API_KEY=
GEMINI_API_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=542531953011-fconecan3f252t5jape8jjrcbe1pm7cb.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER_ID=1XonAi82cECXvVde8VGCugDkS-vLA5mjn
